<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Account</title>
</head>
<body>
<div layout:fragment="content">
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder" th:text="${user.username}"></h1>
                <p class="lead mb-0"></p>
            </div>
        </div>
    </header>
    <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <div class="Details">
                <h2>My details</h2>
                <div class="row gx-5">
                    <div th:if="${!detail.empty}">
                    <div th:each="d : ${detail}" class="col-lg-6">
                        <div class="col">
                            <a th:text="${d.name}"></a>
                            <a th:text="${d.price}"></a>
                            <a th:text="${d.oemNumber}"></a>
                            <a th:text="${d.manufacturer}"></a>
                        </div>
                        <a class="bnt bnt-primary" th:href="@{/details/{detailId}(detailId=${d.id})}">View</a>
                        <a class="btn btn-primary" th:href="@{/details/{detailId}/edit(detailId=${d.id})}">Edit</a>
                    </div>
                    </div>
                    <div th:if="${detail.empty}">
                        <p>No details yet.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
</body>
</html>